CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.kdev4
*.kdev4*
*build*
*.x
*.o
.vscode
*.vscode*
data/*.xyz
*.dat
!data/refs/argon_108.dat
!data/refs/argon_2916.dat
!data/refs/argon_78732.dat
*.out
!Timer